In [8]:
import pandas as pd

In [13]:
n = 10

In [14]:
## 에라토스체 시각화
df = pd.DataFrame(columns=range(n))

sieve = [True] * n

m = int(n ** 0.5) + 1
for i in range(2, m):
    if sieve[i] == True:
        print(f"{i}의 배수 지우기")
        for j in range(i+i, n, i):
            sieve[j]=False
    df.loc[len(df)] = sieve
    display(df)
    
# 소수 목록 산출
# return [i for i in range(2, n) if sieve[i] == True]

2의 배수 지우기

      0     1     2     3      4     5      6     7      8     9
0  True  True  True  True  False  True  False  True  False  True

3의 배수 지우기

      0     1     2     3      4     5      6     7      8      9
0  True  True  True  True  False  True  False  True  False   True
1  True  True  True  True  False  True  False  True  False  False

In [18]:
sieve=[True]*n # 체 초기화 (0부터 n-1 까지)

m = int(n ** 0.5) + 1 # sqrt(n)+1 까지만 반복하면된다. 
for i in range(2,m): # 소수는 2부터
    if sieve[i] == True: # 소수이면
        for j in range(i+i, n, i): # i의 2배수부터, 모든 배수 제거
            sieve[j] = False
[i for i in range(2,n) if sieve[i] == True]

[2, 3, 5, 7]

In [19]:
def eratos(n):
    sieve=[True]*n # 체 초기화 (0부터 n-1 까지)

    m = int(n ** 0.5) + 1 # sqrt(n)+1 까지만 반복하면된다. 
    for i in range(2,m): # 소수는 2부터
        if sieve[i] == True: # 소수이면
            for j in range(i+i, n, i): # i의 2배수부터, 모든 배수 제거
                sieve[j] = False
    return [i for i in range(2,n) if sieve[i] == True]

에라토스를 약간 응용하여 문제풀기

In [45]:
def eratos_mn(m,n):
    N=n+1;M=m
    sieve=[True]*N # 체 초기화 (0부터 n-1 까지)

    m = int(N ** 0.5) + 1 # sqrt(n)+1 까지만 반복하면된다. 
    for i in range(2,m): # 소수는 2부터
        if sieve[i] == True: # 소수이면
            for j in range(i+i, N, i): # i의 2배수부터, 모든 배수 제거
                sieve[j] = False
    
    return [i for i in range(2,N) if (sieve[i] == True) and (i >= M)]

M,N=map(int,input().split())
print(*eratos_mn(M,N),sep='\n')